# database parameters are shared between containers
POSTGRES_PASSWORD=change_me
POSTGRES_USER=buildbot
POSTGRES_DB=buildbot
# in master.cfg, this variable is str.format()ed with the environment variables
BUILDBOT_DB_URL=postgresql+psycopg2://{POSTGRES_USER}:{POSTGRES_PASSWORD}@db/{POSTGRES_DB}

BUILDBOT_MASTER_FQDN=10.0.0.9
BUILDBOT_WORKER_PORT=9989
BUILDBOT_WEB_URL=http://localhost:8080/
BUILDBOT_WEB_PORT=8080
